body{
	background-color: #337ab7;
	font-family: 'Raleway';
}
a, a:hover, a:focus {
    color: #999;
    text-decoration: none;
   -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
/***** Top menu *****/
.navbar {
    margin-bottom: 0;
    background: #fff;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

ul.navbar-nav {
    font-size: 15px;
    color: #337ab7;
    font-weight: bold;
}

.navbar-inverse ul.navbar-nav li a { color:  #337ab7; opacity: 0.8; border: 0; }
.navbar-inverse ul.navbar-nav li a:hover { color:  #fff; background-color: #337ab7; opacity: 1; border: 0; }
.navbar-inverse ul.navbar-nav li a:focus { color:  #fff; background-color: #337ab7; outline: 0; opacity: 1; border: 0; }
.navbar-brand {
    /*color: #337ab7;*/
    font-weight: bold;
    font-size: 30px;
    background-color: #337ab7;
    color: #fff !important;
    /*border-bottom: solid #fff;*/
}
.navbar-brand:hover { color: #999 !important; background-color: #337ab7 !important; opacity: 1; border: 0; }
ul nav { border-style: none; }
h2 {
    margin-top: 70px;
}
.story{ text-align: center; color: #fff; }
.text{ width:200px; text-align: center; }
img { height: 200px; width: 200px; margin-top: 40px;}
/*h2 { font-family: Raleway; }*/
p{ font-size: 18px; 
}
span {
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	/*font-family: Raleway;*/
	text-align: center;
}
button {
    width: 80%;
    height: 70px;
    background-color: red;
}
.text p{ color: #fff; }
